.explore {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: $moma-black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  padding-top: 100px;

  .explore-title {
    border-left: 4px solid $moma-light-green;
    margin-bottom: 30px;
  }

  Button {
    margin-top: -1px;
  }

  .explore-icon {
    width: 20px;
    height: 20px;
  }

}
